package config

const (
	SIGN_SALT  = "@jiutiao"
	SIGN_ERROR = "sign error"
)

const (
	FILE_READ_ERROR   = "read file error: %v"
	FILE_WRITE_ERROR  = "write file error: %v"
	JSON_DECODE_ERROR = "json decode failed: %v"
)
