debug: true
address: "0.0.0.0:{{.ProjectPort}}"
logfile: "/tmp/{{.ProjectName}}.log"
secret: ""

mysql:
  master: "root:@tcp(127.0.0.1:3306)/mysql?charset=utf8"
  slave: "root:@tcp(127.0.0.1:3306)/mysql?charset=utf8"
